# ignore project compile files
# for CC2530 and CC2531
/Z-Stack 3.0.2/Projects/zstack/*/*/*/CoordinatorEB/
/Z-Stack 3.0.2/Projects/zstack/*/*/*/EndDeviceEB/
/Z-Stack 3.0.2/Projects/zstack/*/*/*/RouterEB/

# for CC2538
/Z-Stack 3.0.2/Projects/zstack/*/*/*/Coordinator/
/Z-Stack 3.0.2/Projects/zstack/*/*/*/EndDevice/
/Z-Stack 3.0.2/Projects/zstack/*/*/*/Router/

# for CC2530, CC2531 and CC2538
/Z-Stack 3.0.2/Projects/zstack/*/*/*/settings/
/Z-Stack 3.0.2/Projects/zstack/*/*/*/*.dep
/Z-Stack 3.0.2/Projects/zstack/*/*/*/*.ewt
/Z-Stack 3.0.2/Projects/zstack/*/*/*/*.log

# for BootLoader
/Z-Stack 3.0.2/Projects/zstack/*/*/*/Basic/

# for OTA
/Z-Stack 3.0.2/Projects/zstack/*/*/*/Image Boot Manager/

# don't ignore source project files
!.gitignore
!*.c
!*.C
!*.cpp
!*.CPP
!*.h
!*.H
!*.ewp
!*.ewd
!*.eww
!*.s51
!*.cfg

# ignore bak files
*.bak


